@font-face {
    font-family: Changa;
    src: url(../fonts/Changa.ttf);
}
@font-face {
    font-family: Outline;
    src: url(../fonts/Outlines.ttf);
}
*, *::after, *::before{
    box-sizing: border-box;
    color: #05445E;
    font-family: Changa, sans-serif;
}
body{
    background-color: #D4F1F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header{
    height: 200px;
}

.body{
    display: flex;
    justify-content: space-between;
}
.mainGrid{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    padding: 20px;
    background-color: #189AB4;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 400;
}
.gridElement{
    display: flex;
    font-family: Outline, sans-serif;
    color: black;
    font-size: 70px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #75E6DA;
}
.gridElement:hover{
    background-color: #6adbd0;
    cursor: pointer;
}
.characterOne, .characterTwo{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
}
#eyes, #eyes img{
    position: absolute;
    height: 20px;
}
#char1, #char2{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
button#gameStart{
    width: 80px;
    height: 50px;
}