@font-face {
    font-family: Changa;
    src: url(../fonts/Changa.ttf);
}
@font-face {
    font-family: Outline;
    src: url(../fonts/Outlines.ttf);
}
*, *::after, *::before{
    box-sizing: border-box;
    
}
body{
    font-family: sans-serif;
    color: #05445E;
    background-color: #978989;
    background-image: url("../imgs/Gravity_falls_forest.webp");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.startPage{
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    background-color: #1e1e20;
    z-index: 100;
    left: 0;
    top: 0;
    overflow: hidden;
}
.startPage .title{
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color: white;
}
.startPage p{
    font-size: 20px;
}
.startPage .title h1,p{
    margin: 0;
    padding: 0;
}
.header, .body, .footer, .round{
    visibility: hidden;
}

.header{
    height: 100px;
}

.body{
    display: flex;
    justify-content: space-between;
}
.mainGrid{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 5px;
    padding: 20px;
    background-color: #1e1e20;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 400;
}
.gridElement{
    display: flex;
    font-family: Outline, sans-serif;
    color: black;
    font-size: 70px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #33544c;
    transition-duration: 0.1s;
    transform-style: preserve-3d;
}
.gridElement:hover{
    background-color: #407568;
    cursor: pointer;
}
.gridElement:active{
    transition-delay: 10ms;
    transform: rotateX(180deg);
}
.characterOne, .characterTwo{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 450px;
}
#eyes, #eyes img{
    position: absolute;
    height: 20px;
}
#char1, #char2{
    object-fit: contain;
    height: 100%;
    width: 100%;
}
button#gameStart{
    width: 80px;
    height: 50px;
}
.round{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.winScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s;
}

.winLoseText{
color: #7cc4b2;
font-size: 50px;
font-weight: 200;
}
.choose{
    color: white;
    
}
.enemy{
    width: 150px;
    height: 150px;
    color: white;
    object-fit: contain;
    border: 2px solid gray;
    background-color: white;
}
.enemy:hover{
    cursor: pointer;
    border: 3px solid green;
}
.enemy:focus .enemy:active{
    border: 3px solid black;
}